<div class="container mx-auto w-full my-16 min-h-screen bg-white py-16 px-8 md:px-16 rounded-2xl drop-shadow-2xl z-0">
  <h1 class="text-5xl font-bold">
    Get Your Tickets Now!
  </h1>
  <p class="pt-8 max-md:text-lg md:text-2xl">
    After a long wait, the annual Thalia Symposium is here. The early ticket sign-ups for Thalia members have now closed. This means it's time to open up general registration! <br>
    We still have some tickets available, so make sure to mark the 19th of april in your calendar and sign up now! <br>
    The signup sheet below will be open until the 5th of april, or until all tickets are sold out. <br>
    <br>
    Price for the symposium is €12,50. Lunch during the event is included in the price. <br>
  </p>
  <br>
  <br>
  <br>

  <div class="container flex flex-col items-center bg-[#E82E8F] rounded-2xl p-6 text-white shadow-inner text-xl">
      <div class="flex flex-1 items-center">
        Unfortunately sign-ups for the symposiums are now closed. <br> If you've signed up, you'll get an email soon saying logins are open allowing you to register for the day's talks.
      </div>
    </div>
  
</div>
