<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <div class="container pt-8 mx-auto w-full">
    <h1 class="font-bold text-6xl italic text-black w-fit">Sponsors</h1>
    <br>
    <div class="container w-full bg-white p-4 md:p-8 shadow-lg text-lg font-medium lg:rounded-2xl">
      Our symposium wouldn't be possible without the generous help of our sponsors! Listed below are the companies that have helped make this event possible.
    </div>
  </div>

  <div id="speakers-grid" class="flex flex-col gap-8 container mx-auto w-full my-16 min-h-screen">
    <%= render @sponsors %>
  </div>
</div>
