<div class="container mx-auto w-full my-16 min-h-screen bg-white py-16 px-8 md:px-16 rounded-2xl drop-shadow-2xl z-0">
  <h1 class="text-5xl font-bold">
    Thalia Symposium 2023: Performance Optimization
  </h1>

  <p class="pt-8 max-md:text-lg md:text-2xl">
    After a long wait, the annual Thalia Symposium is here. On the 19<sup>th</sup> of April 2023, we will be organizing a symposium on performance optimization, with talks on subjects like High Performance Computing and more! The event will be held at LUX, in the city-center of Nijmegen. Sign ups will open be open for Thalia members from the 16th of March until the 24th of March. After that, sign ups will open up right here for non-Thalia members.<br /><br />
    The event will be from 10:00 to 16:30, and will be followed by a borrel. There will be parallel tracks, so soon you will be able to sign up for the specific talks you want to attend. <br /><br />
    The exact schedule will be announced soon, but until that time keep checking in on the website because we will be posting more information on our speakers in the coming weeks. <br /><br />
    <span class="italic">We hope to see you there!</span>
  </p>

  <div class="w-full flex flex-col lg:flex-row gap-16 pt-16">
    <div class="container flex flex-col items-center bg-[#06AAED] rounded-2xl p-6 text-white shadow-inner text-xl">
      <div class="flex flex-row mb-2">
        <%= image_tag "account-plus.svg", class: "w-8 invert mr-2" %> <span class="font-bold pt-1">Registrations</span>
      </div>
      <div class="flex flex-1 items-center">
        <span class="text-center">
          Signups have unfortunately already closed. <br />
        </span>
      </div>
    </div>

    <div class="container flex flex-col items-center bg-[#935DB2] rounded-2xl p-6 text-white shadow-inner text-xl">
      <div class="flex flex-row mb-2">
        <%= image_tag "clock-time-ten-outline.svg", class: "w-8 invert mr-2" %> <span class="font-bold pt-1">When</span>
      </div>
      <div class="flex flex-1 items-center">
        <span class="text-center">
          April 19<sup>th</sup> 2023 <br />
          10:00 &mdash; 16:30
        </span>
      </div>
    </div>

    <div class="container flex flex-col items-center bg-[#E82E8F] rounded-2xl p-6 text-white shadow-inner text-xl">
      <div class="flex flex-row mb-2">
        <%= image_tag "map-marker.svg", class: "w-8 invert mr-2" %> <span class="font-bold pt-1">Location</span>
      </div>
      <div class="flex flex-1 items-center">
        <a href="https://goo.gl/maps/ECwxZ3kHqDjQLsKB6" class="text-center">
          <address>
            LUX<br />
            Mariënburg 38-39 <br />
            6511 PS Nijmegen
          </address>
        </a>
      </div>
    </div>
  </div>

  <div class="text-lg text-center w-full">
    <h2 class="text-3xl mt-8 font-bold">Contact</h2>
    <h3 class="text-xl mt-2 font-bold">Email</h3>
    <a href="mailto:symposium@thalia.nu">
      <address>symposium@thalia.nu</address>
    </a>
    <h3 class="text-xl mt-1 font-bold">Visiting Address</h3>
    <a href="https://www.google.com/maps/place/Toernooiveld+212%2C+Nijmegen">
      <address>
        Toernooiveld 212 <br />
        6525 EC Nijmegen <br />
        Board room: M1.0.08 (ground floor)
      </address>
    </a>
  </div>
</div>